USE [master]
GO
/****** Object:  Database [MyBookStore]    Script Date: 02/05/2015 23:40:00 ******/
CREATE DATABASE [MyBookStore] ON  PRIMARY 
( NAME = N'MyBookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MyBookStore.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyBookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MyBookStore_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyBookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyBookStore]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 02/05/2015 23:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](50) NULL,
	[BookId] [varchar](50) NULL,
	[Titlte] [varchar](50) NULL,
	[Descripton] [varchar](850) NULL,
	[Author] [varchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
	[ImageUrl] [varchar](500) NULL,
	[ReleaseDate] [datetime] NULL,
	[Publisher] [varchar](50) NULL,
	[ExpectedDeliveryDate] [datetime] NULL,
	[Checked] [bit] NULL,
	[DateCreated] [datetime] NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[DateModified] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
